<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" routerLinkActive="active" layout-align="end end">Log in</a>
    <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <form class="form"
        fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card class="card">
      <mat-card-header class="card-header" fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-card-title class="card-title">
          <div mat-card-avatar><fa-icon class="card-title-icon" [icon]="['fas', 'sign-in-alt']"></fa-icon></div>
          <span>Sign-UP</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="item">
          <input #username matInput placeholder="Username" required>
        </mat-form-field>

        <mat-form-field class="item">
          <input #password type="password" matInput placeholder="Password" required>
         
        </mat-form-field>

        <mat-form-field class="item">
          <input type="password" matInput placeholder="Confirm Password" required>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field class="item">
              <input #fname matInput placeholder="FirstName" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #mname matInput placeholder="MiddleName" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #lname matInput placeholder="LastName" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field class="item">
              <input #eaddress matInput placeholder="Email Address" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #phonenumber matInput placeholder="Phone Number" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #ssn matInput placeholder="SSN" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field class="item">
              <input #aline1 matInput placeholder="AddressLine1" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #aline2 matInput placeholder="AddressLine2" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #city matInput placeholder="City" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field class="item">
              <input #state matInput placeholder="State" required>
            </mat-form-field>
            <mat-form-field class="item">
              <input #zipcode matInput placeholder="ZipCode" required>
            </mat-form-field>
        </div>

        <div class="submit-button">
          <button mat-raised-button color="primary" (click)="SignUp(username.value,password.value,fname.value,mname.value,lname.value,eaddress.value,phonenumber.value,ssn.value,aline1.value,aline2.value,city.value,state.value,zipcode.value)">Submit</button>
        <!--  <button (click)="SignUp(username.value)">Add</button>-->
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>