
<mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
     <!-- <a mat-button routerLink="/login" (click)="onLogout()" routerLinkActive="active">Log out</a> -->
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/user-profile'"> User Profile </a>
        <a mat-button [routerLink]="'/loan'"> Apply for Loan </a>
    </span>
    </mat-toolbar>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Get your loan today!</mat-card-title>
        </mat-card-header>
        <form class="center-align" [formGroup]="loanAppForm">
            <mat-card-content>
    
                <div fxLayout="row" fxLayoutAlign="none">
                    <mat-form-field >
                        <input #textboxp matInput name="empName" placeholder="Employer Name" required type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="none">
                    <mat-form-field >
                        <input #textboxp matInput name="empAddr" placeholder="Employer Address" required type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="none">
                    <mat-form-field >
                        <input #textboxp matInput name="empPhone" placeholder="Employer Phone" required type="text">
                    </mat-form-field>
                </div>
                <br>
            
                <p>Please select which type of loan you are interested in:</p>
                    <p>
                        <label>
                          <input name="autoLoan" type="radio" checked />
                          <span>Auto Loan</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="mortLoan" type="radio" />
                          <span>Mortgage Loan</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="personalLoan" type="radio"  />
                          <span>Personal Loan</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="studentLoan" type="radio"/>
                          <span>Student Loan</span>
                        </label>
                      </p>

                      <br>

        <div fxLayout="row" fxLayoutAlign="none">
                <mat-form-field >
                    <input #textboxp matInput name="loanAmount" placeholder="Desired Loan Amount $" required type="text">
                 </mat-form-field>
            </div>
                
                <div fxLayout="row" fxLayoutAlign="none">
                    <mat-form-field >
                        <input #textboxp matInput name="fico" placeholder="FICO Score" required type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="none">
                    <mat-form-field >
                        <input #textboxp matInput name="totalDebt" placeholder="Total Outstanding Debt" required type="text">
                    </mat-form-field>
                </div>

    <br>
    
    <p>Select which Rates you are interested in:</p>
    <p>
        <label>
          <input type="checkbox" />
          <span>Fixed</span>
        </label>
        <label>
          <input type="checkbox" checked="checked" />
          <span>Adjustable</span>
        </label>
      </p>

            </mat-card-content>
            
<br>
<br>
<p>By typing your name below, you are certifying that the above information is accurate and correct.</p>
        <div fxLayout="row" fxLayoutAlign="none">
            <mat-form-field >
                <input #textboxp matInput name="esig" placeholder="E-Signature" required type="text">
            </mat-form-field>
        </div>

        <button mat-stroked-button color="accent" [formGroup]="loanAppForm"(click)="onSubmit()" class="btn-block">Submit</button>
    </form>
    </mat-card>

    

