<mat-toolbar color="primary" class="app-header">
	<span class="nav-tool-items">
	  <a mat-button routerLink="/login" (click)="onLogout()" routerLinkActive="active">Log out</a>
	  <a mat-button [routerLink]="'/home'"> Home </a>
	  <a mat-button [routerLink]="'/user-profile'"> User Profile </a>
	  <!--<a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>-->
	</span>
</mat-toolbar>
<h1 *ngIf="username">Welcome {{ username }}!</h1>
<p>Landing Page once logged in</p>
<p>We have to include auth guard to prevent unauthenticated sers from accessing without logging in</p>
