<div class="component-wrapper">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <span>Profile</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <div fxLayout="row" fxLayoutAlign="center">
                    <img [src]="profileImage" height="200">
                    <br>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field >
                        <input #textbox matInput name="username" placeholder="Username" type="text" disabled [(ngModel)]="userProfile.username">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="fill">
                        <mat-label>Birthdate</mat-label>
                        <input matInput name="birthDate" [matDatepicker]="birthDatePicker" [formControl]="birthDate" disabled>
                        <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div class="btn-container">
                        <button class="btn-color-primary" (click)="navigateToContactPrefs()">Contact Preferences</button>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div class="btn-container">
                        <button class="btn-color-secondary" (click)="navigateToUserSettings()">User Settings</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>