<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" routerLinkActive="active" layout-align="end end">Log in</a>
    <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
    &nbsp;
    <a mat-button mat-raised-button routerLink="/transferFunds" routerLinkActive="active"> Transfer Funds </a>
  </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input #textbox matInput placeholder="Username" type="text" [(ngModel)]="email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input #textboxp matInput placeholder="Password" type="password" [(ngModel)]="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" routerLinkActive="active" (click)="onSubmit(textbox.value,textboxp.value)">Log in</button>
        <button mat-stroked-button color="accent" class="btn-block" routerLink="/register" routerLinkActive="active">Register</button>
      </form>
    </mat-card>
  
  </div>