<div class="component-wrapper">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <span>Change Your Email Address</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (submit)="changeEmail()">
                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field >
                        <input #textboxp matInput name="currentEmail" disabled type="text" [(ngModel)]="currentEmail">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field >
                        <input #textboxp matInput name="newEmail" placeholder="New Email Address" required type="text" [(ngModel)]="newEmail">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <button type="button" mat-stroked-button color="accent" (click)="back()">Back</button>
                    </div>

                    <div class="submit-button">
                          <button mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>